@import 'common/foundation/variables';
@import 'theme_variables';
@import 'mixins';

$avatar-image-size: 1.8em;

.drop-down-mode .d-header-icons .active .icon::after {
  top: -1px;
}

.d-header {
  position: fixed;
  margin: 0;
  height: 0;

  .wrap {
    position: fixed;
    bottom: 0;
    background-color: $header-background;
    border-top: 1px solid #e5e5e5;
    height: 40px;
    width: 100%;
    max-width: none;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    .contents {
      max-width: 1110px;
      width: 100%;
    }

    .title {
      #back-to-top {
        color: $header-primary;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
      }

      a {
        display: none;
      }
    }
  }

  .menu-panel.slide-in,
  .menu-panel {
    top: unset !important;
    bottom: 40px;
    box-shadow: 0 -12px 12px rgba(0, 0, 0, 0.15);

    .panel-body {
      height: 100% !important;
    }
  }

  .d-header-icons {
    .active .icon {
      position: relative;
      background-color: #fff;
      cursor: default;
      border-top: 1px solid #e6e6e6;
      border-left: 1px solid #e6e6e6;
      border-right: 1px solid #e6e6e6;
      &::after {
        display: block;
        position: absolute;
        top: -2px;
        left: 0;
        z-index: 1001;
        width: 100%;
        height: 0;
        content: '';
        border-top: 2px solid #fff;
      }
    }
  }

  .panel {
    flex: 1 1 auto;
    margin-left: 0;
    justify-content: flex-end;
  }

  .header-buttons:not(:empty) {
    margin: 0;
    margin-left: 0.4em;
    order: 1;
    justify-content: flex-end;
  }

  .sign-up-button,
  .login-button {
    span {
      font-size: 1rem;
      font-weight: 600;
    }
  }
}

.d-header-icons .d-icon {
  color: $header-primary;
  font-size: 1rem;
}

.d-header-icons {
  flex: 0 0 auto;
  $image-size: 2em;
  .icon img.avatar {
    height: $avatar-image-size;
    width: $avatar-image-size;
  }
}

// Updates to Member-portal due to footer nav

.member-portal-homepage {
  margin-bottom: calc(4em + 40px);
  @include large {
    margin-bottom: calc(8em + 40px);
  }
  @include desktop {
    margin-bottom: 8em;
  }
}

.category-member-portal footer {
  margin-bottom: 40px;
  @include desktop {
    margin-bottom: 0;
  }
}
