@import 'lib/discourse-nav';

$header-font-color: #39298c;

.pointer {
  cursor: pointer;
}

#unified-nav {
  background-color: #fff;
  padding: 0;
  min-height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  img {
    border-style: none;
    box-sizing: content-box;
    max-width: 100%;
  }
  .pointer {
    cursor: pointer;
  }

  span.fill {
    width: 100%;
    height: 100%;
  }

  .wrapper.wrap {
    width: 100%;
    max-width: 1400px;
    padding: 0 20px;
  }

  .mobile-hidden {
    display: none !important;
  }

  .main-nav,
  #SubNav {
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    height: 60px;
    box-sizing: border-box;
    position: relative;
    flex-flow: row nowrap;
    align-items: center;
  }

  .main-nav {
    background-color: #fff;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    z-index: 2;

    .logo-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $header-font-color;
      .title {
        img {
          height: 34px;
        }
      }
    }

    .main-nav-trigger {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 10000;
      height: 22px;
      width: 22px;
      cursor: pointer;
      box-sizing: content-box;

      &.trigger-open {
        margin-left: -5px;
      }
      &.trigger-closed {
        margin-left: -7px;
        padding-right: 2px;

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          background: rgb(243, 243, 243);
          border-radius: 100%;
          height: 22px;
          width: 22px;
          svg {
            height: 65%;
            margin-left: -1px;
            margin-bottom: -1px;
          }
        }
      }

      > span {
        height: 100%;
      }

      .fa.d-icon.d-icon-ellipsis-v.svg-icon {
        margin-left: -1px;
        height: 50%;
      }
    }

    nav {
      font-size: 14px;
      border: 0 !important;
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
    }

    .navigationSlider .slidingNav {
      bottom: auto;
      box-sizing: border-box;
      left: 0;
      position: fixed;
      right: 0;
      margin-top: calc(0.4rem + 1px);

      ul {
        margin: 0;
        margin-bottom: 1em;
        box-sizing: border-box;
        color: #fff;
        display: flex;
        flex-wrap: nowrap;
        list-style: none;
        width: 100%;
        background: #fff;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 0;
        padding: 16px;
        border-bottom: 1px solid #e5e5e5;

        li {
          flex: 1 1 auto;
          margin: 0;
          text-align: center;
          white-space: nowrap;

          a {
            border: 0;
            display: flex;
            flex-flow: row nowrap;
            z-index: 10000;
            align-items: center;
            box-sizing: border-box;
            height: 50px;
            justify-content: center;
            margin: 0;
            padding: 10px;
            color: #414f64;
            background-color: #fff;
            transition: all 0.2s;
            font-weight: 400;
            font-size: 16px;
            line-height: 40px;

            &:hover,
            &.selected {
              color: #39298c;
            }
          }
        }
      }
    }

    #back-to-top {
      display: none;
    }
  }
  #SubNav {
    background-color: #f9f8f8;
    color: #354052;
    z-index: 1;
  }
}

#main-outlet {
  padding-top: calc(5.8572em + 80px);
}
